src/main/resources/wsdl/country.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.webserviceX.NET">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetCountryByCountryCode">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CountryCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCountryCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetCountryByCountryCodeResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISD">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CountryName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISDResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetISDResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountries">
        <s:complexType/>
      </s:element>
      <s:element name="GetCountriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetCountriesResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCodeByCurrencyName">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CurrencyName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCodeByCurrencyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetCurrencyCodeByCurrencyNameResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISOCountryCodeByCountyName">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CountryName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISOCountryCodeByCountyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetISOCountryCodeByCountyNameResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCode">
        <s:complexType/>
      </s:element>
      <s:element name="GetCurrencyCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetCurrencyCodeResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCurrencyCode">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CurrencyCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCurrencyCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetCountryByCurrencyCodeResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencies">
        <s:complexType/>
      </s:element>
      <s:element name="GetCurrenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetCurrenciesResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyByCountry">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CountryName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyByCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetCurrencyByCountryResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGMTbyCountry">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CountryName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGMTbyCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetGMTbyCountryResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCountryByCountryCodeSoapIn">
    <wsdl:part element="tns:GetCountryByCountryCode" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCountryByCountryCodeSoapOut">
    <wsdl:part element="tns:GetCountryByCountryCodeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetISDSoapIn">
    <wsdl:part element="tns:GetISD" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetISDSoapOut">
    <wsdl:part element="tns:GetISDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapIn">
    <wsdl:part element="tns:GetCountries" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapOut">
    <wsdl:part element="tns:GetCountriesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameSoapIn">
    <wsdl:part element="tns:GetCurrencyCodeByCurrencyName" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameSoapOut">
    <wsdl:part element="tns:GetCurrencyCodeByCurrencyNameResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameSoapIn">
    <wsdl:part element="tns:GetISOCountryCodeByCountyName" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameSoapOut">
    <wsdl:part element="tns:GetISOCountryCodeByCountyNameResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeSoapIn">
    <wsdl:part element="tns:GetCurrencyCode" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeSoapOut">
    <wsdl:part element="tns:GetCurrencyCodeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeSoapIn">
    <wsdl:part element="tns:GetCountryByCurrencyCode" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeSoapOut">
    <wsdl:part element="tns:GetCountryByCurrencyCodeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCurrenciesSoapIn">
    <wsdl:part element="tns:GetCurrencies" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCurrenciesSoapOut">
    <wsdl:part element="tns:GetCurrenciesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountrySoapIn">
    <wsdl:part element="tns:GetCurrencyByCountry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountrySoapOut">
    <wsdl:part element="tns:GetCurrencyByCountryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountrySoapIn">
    <wsdl:part element="tns:GetGMTbyCountry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountrySoapOut">
    <wsdl:part element="tns:GetGMTbyCountryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCountryByCountryCodeHttpGetIn">
    <wsdl:part name="CountryCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountryByCountryCodeHttpGetOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetISDHttpGetIn">
    <wsdl:part name="CountryName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetISDHttpGetOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCountriesHttpGetIn"/>
  <wsdl:message name="GetCountriesHttpGetOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameHttpGetIn">
    <wsdl:part name="CurrencyName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameHttpGetOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameHttpGetIn">
    <wsdl:part name="CountryName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameHttpGetOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeHttpGetIn"/>
  <wsdl:message name="GetCurrencyCodeHttpGetOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeHttpGetIn">
    <wsdl:part name="CurrencyCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeHttpGetOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCurrenciesHttpGetIn"/>
  <wsdl:message name="GetCurrenciesHttpGetOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountryHttpGetIn">
    <wsdl:part name="CountryName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountryHttpGetOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountryHttpGetIn">
    <wsdl:part name="CountryName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountryHttpGetOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCountryByCountryCodeHttpPostIn">
    <wsdl:part name="CountryCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountryByCountryCodeHttpPostOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetISDHttpPostIn">
    <wsdl:part name="CountryName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetISDHttpPostOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCountriesHttpPostIn"/>
  <wsdl:message name="GetCountriesHttpPostOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameHttpPostIn">
    <wsdl:part name="CurrencyName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameHttpPostOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameHttpPostIn">
    <wsdl:part name="CountryName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameHttpPostOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeHttpPostIn"/>
  <wsdl:message name="GetCurrencyCodeHttpPostOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeHttpPostIn">
    <wsdl:part name="CurrencyCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeHttpPostOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCurrenciesHttpPostIn"/>
  <wsdl:message name="GetCurrenciesHttpPostOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountryHttpPostIn">
    <wsdl:part name="CountryName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountryHttpPostOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountryHttpPostIn">
    <wsdl:part name="CountryName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountryHttpPostOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:portType name="countrySoap">
    <wsdl:operation name="GetCountryByCountryCode">
      <wsdl:documentation>Get country name by country code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCountryCodeSoapIn"/>
      <wsdl:output message="tns:GetCountryByCountryCodeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <wsdl:documentation>Get International Dialing Code by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISDSoapIn"/>
      <wsdl:output message="tns:GetISDSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:documentation>Get all countries with ISO code</wsdl:documentation>
      <wsdl:input message="tns:GetCountriesSoapIn"/>
      <wsdl:output message="tns:GetCountriesSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <wsdl:documentation>Get currency by currency name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeByCurrencyNameSoapIn"/>
      <wsdl:output message="tns:GetCurrencyCodeByCurrencyNameSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <wsdl:documentation>Get countries by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISOCountryCodeByCountyNameSoapIn"/>
      <wsdl:output message="tns:GetISOCountryCodeByCountyNameSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <wsdl:documentation>Get all currencycode for each country </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeSoapIn"/>
      <wsdl:output message="tns:GetCurrencyCodeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <wsdl:documentation>Get country by currency code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCurrencyCodeSoapIn"/>
      <wsdl:output message="tns:GetCountryByCurrencyCodeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <wsdl:documentation>Get all currency,currency code for all countries </wsdl:documentation>
      <wsdl:input message="tns:GetCurrenciesSoapIn"/>
      <wsdl:output message="tns:GetCurrenciesSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <wsdl:documentation>Get currency by country name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyByCountrySoapIn"/>
      <wsdl:output message="tns:GetCurrencyByCountrySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <wsdl:documentation>Get greenwich mean time(GMT) by country name </wsdl:documentation>
      <wsdl:input message="tns:GetGMTbyCountrySoapIn"/>
      <wsdl:output message="tns:GetGMTbyCountrySoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="countryHttpGet">
    <wsdl:operation name="GetCountryByCountryCode">
      <wsdl:documentation>Get country name by country code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCountryCodeHttpGetIn"/>
      <wsdl:output message="tns:GetCountryByCountryCodeHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <wsdl:documentation>Get International Dialing Code by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISDHttpGetIn"/>
      <wsdl:output message="tns:GetISDHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:documentation>Get all countries with ISO code</wsdl:documentation>
      <wsdl:input message="tns:GetCountriesHttpGetIn"/>
      <wsdl:output message="tns:GetCountriesHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <wsdl:documentation>Get currency by currency name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeByCurrencyNameHttpGetIn"/>
      <wsdl:output message="tns:GetCurrencyCodeByCurrencyNameHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <wsdl:documentation>Get countries by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISOCountryCodeByCountyNameHttpGetIn"/>
      <wsdl:output message="tns:GetISOCountryCodeByCountyNameHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <wsdl:documentation>Get all currencycode for each country </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeHttpGetIn"/>
      <wsdl:output message="tns:GetCurrencyCodeHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <wsdl:documentation>Get country by currency code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCurrencyCodeHttpGetIn"/>
      <wsdl:output message="tns:GetCountryByCurrencyCodeHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <wsdl:documentation>Get all currency,currency code for all countries </wsdl:documentation>
      <wsdl:input message="tns:GetCurrenciesHttpGetIn"/>
      <wsdl:output message="tns:GetCurrenciesHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <wsdl:documentation>Get currency by country name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyByCountryHttpGetIn"/>
      <wsdl:output message="tns:GetCurrencyByCountryHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <wsdl:documentation>Get greenwich mean time(GMT) by country name </wsdl:documentation>
      <wsdl:input message="tns:GetGMTbyCountryHttpGetIn"/>
      <wsdl:output message="tns:GetGMTbyCountryHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="countryHttpPost">
    <wsdl:operation name="GetCountryByCountryCode">
      <wsdl:documentation>Get country name by country code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCountryCodeHttpPostIn"/>
      <wsdl:output message="tns:GetCountryByCountryCodeHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <wsdl:documentation>Get International Dialing Code by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISDHttpPostIn"/>
      <wsdl:output message="tns:GetISDHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:documentation>Get all countries with ISO code</wsdl:documentation>
      <wsdl:input message="tns:GetCountriesHttpPostIn"/>
      <wsdl:output message="tns:GetCountriesHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <wsdl:documentation>Get currency by currency name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeByCurrencyNameHttpPostIn"/>
      <wsdl:output message="tns:GetCurrencyCodeByCurrencyNameHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <wsdl:documentation>Get countries by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISOCountryCodeByCountyNameHttpPostIn"/>
      <wsdl:output message="tns:GetISOCountryCodeByCountyNameHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <wsdl:documentation>Get all currencycode for each country </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeHttpPostIn"/>
      <wsdl:output message="tns:GetCurrencyCodeHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <wsdl:documentation>Get country by currency code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCurrencyCodeHttpPostIn"/>
      <wsdl:output message="tns:GetCountryByCurrencyCodeHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <wsdl:documentation>Get all currency,currency code for all countries </wsdl:documentation>
      <wsdl:input message="tns:GetCurrenciesHttpPostIn"/>
      <wsdl:output message="tns:GetCurrenciesHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <wsdl:documentation>Get currency by country name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyByCountryHttpPostIn"/>
      <wsdl:output message="tns:GetCurrencyByCountryHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <wsdl:documentation>Get greenwich mean time(GMT) by country name </wsdl:documentation>
      <wsdl:input message="tns:GetGMTbyCountryHttpPostIn"/>
      <wsdl:output message="tns:GetGMTbyCountryHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="countrySoap" type="tns:countrySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCountryByCountryCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountryByCountryCode" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <soap:operation soapAction="http://www.webserviceX.NET/GetISD" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyCodeByCurrencyName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <soap:operation soapAction="http://www.webserviceX.NET/GetISOCountryCodeByCountyName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyCode" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountryByCurrencyCode" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencies" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyByCountry" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <soap:operation soapAction="http://www.webserviceX.NET/GetGMTbyCountry" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="countrySoap12" type="tns:countrySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCountryByCountryCode">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCountryByCountryCode" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetISD" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCountries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencyCodeByCurrencyName" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetISOCountryCodeByCountyName" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencyCode" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCountryByCurrencyCode" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencies" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencyByCountry" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetGMTbyCountry" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="countryHttpGet" type="tns:countryHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="GetCountryByCountryCode">
      <http:operation location="/GetCountryByCountryCode"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <http:operation location="/GetISD"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <http:operation location="/GetCountries"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <http:operation location="/GetCurrencyCodeByCurrencyName"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <http:operation location="/GetISOCountryCodeByCountyName"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <http:operation location="/GetCurrencyCode"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <http:operation location="/GetCountryByCurrencyCode"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <http:operation location="/GetCurrencies"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <http:operation location="/GetCurrencyByCountry"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <http:operation location="/GetGMTbyCountry"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="countryHttpPost" type="tns:countryHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="GetCountryByCountryCode">
      <http:operation location="/GetCountryByCountryCode"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <http:operation location="/GetISD"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <http:operation location="/GetCountries"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <http:operation location="/GetCurrencyCodeByCurrencyName"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <http:operation location="/GetISOCountryCodeByCountyName"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <http:operation location="/GetCurrencyCode"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <http:operation location="/GetCountryByCurrencyCode"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <http:operation location="/GetCurrencies"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <http:operation location="/GetCurrencyByCountry"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <http:operation location="/GetGMTbyCountry"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="country">
    <wsdl:port binding="tns:countrySoap" name="countrySoap">
      <soap:address location="http://webservicex.net/country.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:countrySoap12" name="countrySoap12">
      <soap12:address location="http://webservicex.net/country.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:countryHttpGet" name="countryHttpGet">
      <http:address location="http://webservicex.net/country.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:countryHttpPost" name="countryHttpPost">
      <http:address location="http://webservicex.net/country.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
